.section-venue {
  .venue-outer-wrap {
    background-color: var(--c-four);
  }

  .venue-inner-wrap {
    text-align: center;
    color: var(--c-text);
  }
  .container-data {
    font-family: var(--f-secondary);
    font-size: var(--f-regular);
    font-weight: var(--regular);
    padding-bottom: var(--gutter);
  }
  &__title {
    color: var(--c-six);
  }
  &__information {
    font-size: var(--f-normal);
  }
  .btn-rutan {
    display: inline-block;
    margin: calc(var(--gutter)) 0; }

  .section-hotel {
    text-align: center;
    position: relative;

    &__subtitle {
      margin: 0;
      letter-spacing: 1px;
      padding-bottom: var(--gutter);
      font-size: var(--f-normal);
      font-weight: var(--regular);
      font-family: var(--f-primary);
      color: var(--c-six);
      text-transform: uppercase;
    }

    .container-data {
      font-family: var(--f-secondary);
      font-size: var(--f-regular);
      font-weight: var(--regular);
      color: var(--c-text-dark);
    }

    .hotel-ramas {
      position: relative;
      z-index: 2;
    }
    .map_hotel {
      margin-left: auto;
      margin-right: auto;
      margin-top: -4rem;
      max-width: 800px;
      z-index: 1;
    }

    .btn-reservation {
      display: inline-block;
      margin-top: calc(var(--gutter) * 4);
    }
  }
  .ramas__mobile {
    display: none;
  }

  .section-code_conduct {
    display: grid;
    grid-template-columns: 1fr 2fr;

    &__title {
      letter-spacing: 1px;
      font-size: var(--f-normal);
      font-weight: var(--regular);
      font-family: var(--f-primary);
      color: var(--c-six);
    }

    .jardin {
      max-width: 700px;
    }
    .container-data {
      max-width: 900px;
      margin-right: 40px;
      text-align: center;
      p {
        margin: var(--gutter) auto;
        text-align: left;
        color: var(--c-text-dark);
      }
      .btn-more {
        display: inline-block;
        margin: var(--gutter) auto;
      }
    }
  }

  @media only screen and (max-width: 1024px) {
    .section-venue__information { font-size: var(--f-regular); }
    .section-hotel {
      .container-data {
        display: none;
      }

      .hotel-ramas {
        display: none;
      }
      .map_hotel {
        left: 0px;
        padding-bottom: 50px;
        top: 10px;
      }
      .btn-reservation {
        display: inline-block;
        margin-top: var(--gutter);
      }
    }
    .ramas__mobile {
      display: block;
      margin-bottom: 0px;
      margin-top: 70px;
    }

    .section-code_conduct {
      display: grid;
      grid-template-columns: 1fr;
      text-align: center;
      padding: var(--gutter);
      .jardin {
        display: none;
      }
      .container-data {
        margin-right: 0;
        padding-bottom: 30px;
        p {
          text-align: center;
        }
      }
    }
  }
}
