.section-about {
  .about-outer-wrap {
    background-color: var(--c-secundary);
  }

  .about-inner-wrap {
    text-align: center;
    color: var(--c-text);
  }

  &__title {
    margin: 0;
    padding-bottom: var(--gutter);
    color: var(--c-six);
    font-family: var(--f-primary);
    font-size: var(--f-h1);
  }
  .container-data {
    font-family: var(--f-secondary);
    font-size: var(--f-regular);
    font-weight: var(--regular);
    padding-bottom: var(--gutter);
    p {
      font-size: var(--f-regular);
      line-height: 1.7;
      @media screen and (min-width : 1024px) {
        font-size: var(--f-normal);
        font-weight: var(--light);
        width: 100%;
      }
    }
  }
  .photos {
    font-weight: var(--bold);
    font-size: var(--f-regular);
    text-transform: uppercase;
    padding-bottom: 40px;
  }
  .btn-photos {
    margin: var(--gutter) 0;
    justify-self: center;
    grid-column: span 2;
  }

}
