.contact-us-component {
  background-color: var(--c-secundary);

  &.contact-us {
    display: flex;
    align-items: center;
    justify-content: center;

    .stay-tuned {
      .title {
        color: var(--c-six);
        text-align: center;
        font-weight: var(--f-h2);
        padding-bottom: var(--gutter);
        padding-top: var(--gutter);
      }

      .email {
        padding-top: var(--gutter);
        color: var(--c-text);
        input {
          padding: 0 var(--gutter);
          height: 50px;
          border: none;
          color: var(--c-text);
          background-color: var(--c-four);
          font-family: var(--f-secondary);
          font-weight: var(--medium);
          &:focus {
            outline: none;
          }
        }
        button {
          display: inline-block;
          height: 50px;
          border: none;
          color: var(--c-text);
          background-color: var(--c-five);
          font-family: var(--f-secondary);
          font-weight: var(--medium);
          cursor: pointer;
          padding: 0 15px;
          &:focus {
            outline: none;
            opacity: 0.7;
          }
        }

        form {
          margin-bottom: 0;
        }
        .success {
          font-size: var(--medium);
          padding-top: 0.7rem;
          color: var(--c-primary);
        }
        .error {
          font-size: var(--medium);
          padding-top: 0.7rem;
          color: red;
          max-width: 326px;
          a {
            color: var(--c-primary);
          }
        }
      }

      .social {
        margin-top: 1.45rem;
        display: flex;
        justify-content: space-between;

        .text {
          text-align: right;
          margin-left: 164px;
          .contact-us {
            font-family: var(--f-secondary);
            font-weight: var(--bold);
            font-size: var(--f-regular);
            color: var(--c-text);
          }
          .nodeconf-email {
            font-family: var(--f-secondary);
            font-weight: var(--medium);
            font-size: var(--f-small);
            color: var(--c-five);
            &:hover {
              color: var(--c-four);
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }
      }
      .icons {
        display: flex;
        padding-top: 25px;
        text-decoration: none;
        align-items: center;
        justify-content: center;
        width: 100%;
        .orquideorama {
          transition: .3s ease-in-out;
          fill: var(--c-four);
        }
        & a:hover .orquideorama { fill: var(--c-six); }
        .icon {
          width: 65px;
          margin: var(--gutter);
          fill: var(--c-text);
        }
      }
    }
  }
}
